* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  --yellowish-white: 255, 251, 235; /* lighter-yellow 0.6 */
  --lighter-yellow: 255, 248, 222;
  --light-yellow: 255, 242, 198;
  --lighter-blue: 170, 196, 245;
  --sea-blue: 140, 169, 255;
  --dark-text: 46, 38, 6;
  --orange: 200, 140, 30;

  --nav-height: 6.4rem;

  background-color: rgb(var(--lighter-yellow), 0.6);
  color: rgb(var(--dark-text));

  font-size: 1.6rem;
  padding-top: var(--nav-height);

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  min-height: calc(100vh - var(--nav-height));
  padding-left: 10rem;
}

#home-bg {
  height: calc(100vh - var(--nav-height));
  z-index: -1;
  position: relative;
}

.bg-image {
  position: absolute;
  right: 0;
  /* background-color: rgb(var(--light-yellow), 0.3); */
  background: rgb(var(--lighter-yellow));
  /* background: linear-gradient(
    to right,
    rgba(255, 248, 222, 0.6) 0%,
    rgba(255, 248, 222, 0.3) 70%,
    rgba(255, 248, 222, 0.1) 100%
  ); */
  background: linear-gradient(
    to right,
    rgba(var(--yellowish-white), 1) 0%,
    rgba(var(--yellowish-white), 0.7) 80%,
    rgba(var(--yellowish-white), 0.3) 100%
  ); /*  W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /* z-index: -1; */
}

header {
  height: rgb(var(--nav-height));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(var(--lighter-yellow), 0);
}

nav ul {
  display: flex;
  /* gap: 1rem; */
  justify-content: end;
  /* align-items: center; */
  padding-right: 3rem;
  height: var(--nav-height);
}

nav ul li {
  /* position: relative; */
  list-style: none;
  width: 10rem;
  display: flex;
  justify-content: center;
}

li button {
  height: 6.4rem;
  width: 100%;
  border: none;
  background-color: rgb(var(--lighter-yellow), 0);
  position: relative;
}

li button:hover,
li button:focus {
  background-color: rgb(var(--light-yellow));
}

.selected::after {
  content: "";
  height: 0.5rem;
  width: 10rem;
  background: linear-gradient(
    to right,
    rgb(var(--orange), 0) 0%,
    rgb(var(--orange), 0.6) 25%,
    rgb(var(--orange), 0.6) 75%,
    rgb(var(--orange), 0) 100%
  );
  border-radius: 30%;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* home section  */

.main-title {
  position: relative;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.main-title h1 {
  font-size: 4.8rem;
}

.item-example {
  position: relative;
  height: 30vh;
  z-index: 1;
  /* align-items: center; */
}

.item-title {
  display: flex;
  height: 4ch;
  position: relative;
  align-items: end;
  margin-bottom: 0.5rem;
}

.item-title img {
  width: 2.4rem;
  margin-right: 1rem;
}

.item-title h3::after {
  content: "New Sign";
  position: absolute;

  font-size: 1.1rem;
  font-weight: 400;
  left: 12rem;
  top: 0rem;
  transform: rotate(15deg);

  color: rgb(var(--orange));
  border: 1px solid rgb(var(--orange));
  border-radius: 0.5rem;
  padding: 2px;

  /* right: 0; */
}

.item-example {
  line-height: 1.5;
}

.item-example button {
  margin-top: 1rem;
  padding: 0.8rem 1.6rem;
  background-color: rgb(var(--orange), 0);
  color: rgb(var(--orange));
  border: 1px solid rgb(var(--orange), 0);
  border-radius: 0.8rem;
}

.item-example button:hover,
.item-example button:focus {
  border: 1px solid rgb(var(--orange));
}

.item-example button:hover span,
.item-example button:focus span {
  position: relative;
  left: 0.3rem;
}

.item-example button:active {
  background-color: rgb(var(--orange));
  color: rgb(var(--lighter-yellow));
}
